body {
    margin: 0;
    overflow: hidden;
}

#starfield-container {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: linear-gradient(to bottom, #020109, #100B39);
    top: 0;
    left: 0;
    z-index: 1;
}

#starfield {
    width: 100%;
    height: 100%;
    background: url('Starfield.svg') repeat-x;
    background-size: cover;
    background-position: center center;
    animation: starfieldScroll 150s linear infinite;
}

@keyframes starfieldScroll {
    100% {
        background-position: 0 0;
    }
    0% {
        background-position: 1920px 0;
    }
}

#earth-container {
    position: absolute;
    width: 360px;
    height: 360px;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    overflow: hidden;
}

#earth {
    width: 100%;
    height: 100%;
    background: url('Earth\ Map.svg') repeat-x;
    background-size: cover;
    background-position: center center;
    animation: earthScroll 50s linear infinite;
}

@keyframes earthScroll {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 2900px 0;
    }
}

#atmosphere-container {
    position: absolute;
    width: 380px;
    height: 380px;
    border-radius: 50%;
    top: calc(50% - 190px);
    left: calc(50% - 190px);
    z-index: 2;
    overflow: hidden;
    animation: atmosphereAnimation 3s alternate infinite;
    background: rgba(70, 113, 130, 0.25);
}

@keyframes atmosphereAnimation {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
}

#moon-container {
    width: 115px;
    height: 115px;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    top: calc(50% - 120px);
    left: calc(50% + 260px);
    transform: translate(-50%, -50%);
    z-index: 2;
}

#moon {
    width: 100%;
    height: 100%;
    background: url('Moon\ Map.svg') repeat-x;
    background-size: cover;
    background-position: center center;
    animation: moonScroll 100s linear infinite;
}

@keyframes moonScroll {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 2900px 0;
    }
}

#content {
    width: 100%;
    height: 100%;
}

#purple-container {
    position: absolute;
    width: 65vh;
    max-width: 65vh;
    height: fit-content;
    display: flex;
    align-items: center;
    top: 50%;
    transform: translateY(-50%);
    left: 2%;
    background: rgba(173, 22, 244, 0.5);
    border-radius: 25px;
    display: inline-block;
    padding: 20px;
    z-index: 2;
}

#header {
    padding: 10px;
    color: white;
    font-size: 18pt;
}

#description {
    padding: 10px;
    color: white;
    font-size: 12pt;
}

#nav-bar {
    background-color: rgba(173, 22, 244);
    color: white;
    width: fit-content;
    left: 50%;
    transform: translate(-50%);
    height: 60px;
    display: flex;
    position: absolute;
    border-radius: 0 0 25px 25px;
    z-index: 3;
}

.nav-option {
    width: 20vh;
    background: transparent;
    text-align: center;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
    position: relative;
    border: 10px solid transparent;
}

.selected {
    margin-top: -10px;
    padding-top: 40px;
    padding-bottom: 40px;
    width: 20vh;
    background-color: rgba(71, 16, 114);
    border: 10px solid rgba(173, 22, 244);
    border-radius: 0 0 25px 25px;
}

.nav-option:hover {
    background-color: rgba(71, 16, 114);
    border: 10px solid rgba(173, 22, 244);
    border-radius: 0 0 25px 25px;
}
